[run]
omit=*FixTk*,*PIL*,*calendar*,*contextlib*,*csv*,*ctypes*,*dateutil*,*decimal*,*distutils*,*encodings*,*getpass*,*gzip*,*httplib*,*importlib*,*io*,*matplotlib*,*mimetools*,*mpl_toolkits*,*netCDF4*,*netcdftime*,*numbers*,*numpy*,*pandas*,*pyparsing*,*PyQt4*,*pytz*,*rfc*,*scipy*,*shapely*,*six*,*sqlite3*,*statsmodels*,*strptime*,*subprocess*,*tarfile*,*urllib*,*uuid*