# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.o
*.so
*.dylib

# Distribution/packaging
build/
dist/
*.egg-info

# Input/output
input/
output/

# Installer logs
pip-log.txt

# Unit test / coverage reports
htmlcov/
.coverage
.coverage.*

# Miscellaneous
.DS_Store
*.ini
*.py~
MSLP/*.nc
*~