Babel==1.3
argparse==1.2.1
backports.ssl-match-hostname==3.4.0.2
boto==2.32.0
certifi==14.05.14
iniparse==0.3.1
iso8601==0.1.10
lxml==3.3.5
numpy==1.8.1
scipy==0.14.0
matplotlib==1.3.1
mercurial==3.0.1
netCDF4==1.1.0
netaddr==0.7.12
nose==1.3.3
oslo.config==1.3.0
pbr==0.10.0
prettytable==0.7.2
pycurl==7.19.0
pygpgme==0.1
pyparsing==2.0.2
pyproj==1.9.3
python-dateutil==2.2
python-keystoneclient==0.10.1
python-swiftclient==2.2.0
pytz==2014.4
requests==2.3.0
simplejson==3.6.0
six==1.7.3
stevedore==0.15
tornado==4.0
urlgrabber==3.9.1
yum-metadata-parser==1.1.2
