# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Unit tests for TCRM

on:
  push:
    branches: [ master, develop ]
  pull_request:
    branches: [ master, develop ]

jobs:
  TCRM:
    name: Test TCRM
    runs-on: ubuntu-latest
    strategy: 
      matrix:
        python-version: [3.7, 3.8, 3.9]
    steps:
    - uses: actions/checkout@v2
    - name: Set up environment
      uses: conda-incubator/setup-miniconda@v2.0.0
      with:
        activate-environment: tcrm
        environment-file: tcrmenv.yml
        python-version: ${{ matrix.python-version }}
        auto-activate-base: false

    - name: Test with pytest
      env: 
        PYTHONPATH: ~/tcrm;~/tcrm/Utilities
      shell: bash -l {0}
      run: |
        pytest -x --cov=. --cov-report xml
