name: Pylint tests for TCRM 

on: 
  push:
    branches:  [ master, develop ]

jobs:
  build:
    name: Pylint TCRM
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python env
      uses: conda-incubator/setup-miniconda@v2.0.0
      with: 
        activate-environment: tcrm
        environment-file: tcrmenv.yml
        python-version: 3.7
        auto-activate-base: false
        
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pylint
    - name: Analysing the code with pylint
      run: |
        pylint --rcfile pylintrc --fail-under=7 `find -regextype egrep -regex '(.*.py)$'`
        | tee pylint.txt
    - name: Upload pylint.txt as artifact
      uses: actions/upload-artifact@v2
      with:
        name: pylint report
        path: pylint.txt
